@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form action="~/Home/Index" method="get">
    <label>
        <input type="text" name="name" class="form-control" placeholder="Name - Grand Circus" />
    </label>
    <label>
        <input type="text" name="location" class="form-control" placeholder="Enter location - Detroit" />
    </label>
    <label>
        <input type="text" name="zipcode" class="form-control" placeholder="Zip - 48226" />
    </label>
    <input type="submit" value="Search" class="btn btn-primary" />
    <label>
        <select name="category">
            <option disabled selected value> -- all categories -- </option>
            <option value="apartments">Apartments</option>
            <option value="hotels">Hotels</option>
            <option value="cafes">Cafes</option>
            <option value="vocation">Vocational</option>
        </select>
    </label>
    <label>
        <select name="radius">
            <option disabled selected value> -- select a radius -- </option>
            <option value="500">very close</option>
            <option value="2500">nearby</option>
            <option value="5000">far</option>
            <option value="10000">very far</option>
        </select>
    </label>
</form>
