@{
    ViewBag.Title = "Home";
}

<link rel="stylesheet" href="~/Content/styles.css">


<div id="searchPage">               
    <img src="~/Content/QPLogoBlack.png" style="height: 150px; width: auto;" /><br />
        &nbsp;
    <p id="tagline"><em>Find your quiet place &trade;</em></p>

        <form action="~/Home/Search" group="form-group" method="get">
            <label>
                <input type="text" name="name" class="form-control" placeholder="Business Name" style="width: 150px;" />
            </label>
            <label>
                <input type="text" name="location" class="form-control" placeholder="City, State" style="width: 150px;" />
            </label>
            <label>
                <input type="text" name="zipcode" class="form-control" placeholder="ZipCode" style="width: 150px;" />     

            </label>
            <label>
                <select name="category" class="form-control" style="width: 130px;">
                    <option value="all">all</option>            
                    <option value="apartments">apartments</option>
                    <option value="hotels">hotels</option>
                    <option value="restaurants">restaurants</option>
                    <option value="cafes">cafes</option>
                </select>
            </label>
            <label>
                <select name="radius" class="form-control" style="width: 200px;">
                    <option value="8050">within a few miles</option>
                    <option value="16094">within 10 miles</option>
                    <option value="32200">within 20 miles</option>
                </select>
            </label>
            <input type="submit" value="Search" class="btn btn-primary" />
        </form>
     
</div>


