@{
    ViewBag.Title = "Home";
}


@*<img src="~/Content/QPLogo.png" class="glyphicon-align-center" />*@

<div class="jumbotron">
    <div class="container text-center">
        <span>(find your)</span><br/> <img src="~/Content/QPLogoBlack.png" style="height: 150px; width: auto;" /><br/>
        &nbsp;

        <form action="~/Home/Search" group="form-group" method="get">
            <label>
                <input type="text" name="name" class="form-control" placeholder="Business Name" style="width: 150px;" />
            </label> 
            <label>
                <input type="text" name="location" class="form-control" placeholder="City, State" style="width: 150px;" />
            </label> 
            <label>
                <input type="text" name="zipcode" class="form-control" placeholder="ZipCode" style="width: 150px;" />
            </label> 

            <label>
                <select name="category" style="width: 110px; background-color: lightgray;">
                    <option disabled selected value="">all</option>
                    <option value="apartments">Apartments</option>
                    <option value="hotels">Hotels</option>
                    <option value="restaurants">Restaurants</option>
                    <option value="cafes">Cafes</option>
                </select>
            </label>
            <label>
                <select name="radius" style="width: 110px; background-color: lightgray;">                    
                    <option value="500">within a few blocks</option>
                    <option value="8050">within a few miles</option>
                    <option value="32200">within 20 miles</option>
                </select>
            </label>
            <input type="submit" value="Search" class="btn btn-primary" />
        </form>
    </div>
</div>



